*{
  margin: 0;
  padding: 0;
}
.linkage{
  display: flex;

}
nav{
  width: 50px;
}
dt{
  height: 36px;
  position: sticky;
  /* left: 0; */
  top: 0;
  background-color: #fff;
}
dd{
  height: 60px;
}
.tab-detail{
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}
.tab-detail::-webkit-scrollbar{
  display: none;
}
.active{
  background-color: green;
}