.footer
    position: fixed
    bottom 0
    left 0
    right 0
    height 50px
    display: flex
    font-size: 0.27rem
    border-top 1px solid grey
    .footerItem
        flex: 1
        display: flex
        align-items: center
        justify-content: center
        .footerItemContent
            color grey
        .highlight
            text-decoration: none
            .footerItemContent
                color: #fa8919