.course
    .header
        background-color white
        position: fixed
        left 0
        right 0
        top 0
        height 44px
        display: flex
        align-items: center
        justify-content: flex-start
        padding-left 0.44rem
        padding-right 0.44rem
        border-bottom 1px solid grey
        div
            font-size: 0.51rem
            margin-right 3px