.mine
    padding-left 0.533333rem
    padding-right 0.533333rem
    .mine-header-wrapper
        background-color #fff
        position fixed
        height 44px
        top 0
        right 0
        left 0
        line-height 44px 
        text-align center
        span 
            font-size 18px  
    .mine-info-wrapper
        background-color #fff
        padding-top: .293333rem
        display flex
        .avatar
            background-color #aaa
            width 1.893333rem
            height 1.893333rem
            border-radius 100%
            overflow hidden
            img 
                width 100%
        .name-and-phone
            flex 1
            padding-left .56rem
            .name
                height 1.333333rem
                line-height 1.333333rem
                font-size 20px
            .phone-and-selfPage
                display flex
                justify-content center
                align-items center
                font-size 11px
                .phone
                    flex 1
                .selfPage
                    width 1.786667rem
                    color #fa8919
                    .icon
                        font-size 11px
    .swiper-wrapper
        background-color #fff
        margin-top .72rem
        height 1.333333rem
        background-color #aaa
        margin-bottom .613333rem
       
            