.mine-item-wrapper
    display flex
    height 1.573333rem
    line-height 1.573333rem
    .icon
        font-size .546667rem
    .title
        font-size .44rem
        flex 1
        margin-left .373333rem
    .right
        color #c2c2c2